{{extend 'layout.html'}} <h4>Edit Design Packages</h4>
<a class="btn btn-mini btn-warning" href="{{=urlreturn}}"> 
    <i class="glyphicon glyphicon-chevron-left"></i><strong>{{=T('Return')}}</strong>
</a>
{{=form.custom.begin}}
<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a data-toggle="tab" href="#package">Package</a>
    </li>
    <li class="">
        <a data-toggle="tab" href="#layouts">Layouts Packages</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane active" id="package">
        <table>
            <tbody>
                <tr>
                    <td><label id = "labeldown">{{=T('Download definition')}}</label></td>
                    <td> {{=download_def}}</td>
                </tr>
                <tr>
                    <td><label id="name__label" for="name">{{=form.custom.label['name']}}</label></td>
                    <td> {{=form.custom.widget.name}} </td>
                </tr>
                <tr>
                    <td><label id="friendlyname__label" for="friendlyname">{{=form.custom.label['friendlyname']}}</label></td>
                    <td> {{=form.custom.widget.friendlyname}} </td>
                </tr>
                <tr>
                    <td><label id="name__label" for="name">{{=form.custom.label['packagetype']}}</label></td>
                    <td> {{=form.custom.widget.packagetype}} </td>
                </tr>
                <tr>
                    <td><label id="description__label" for="description">{{=form.custom.label['description']}}</label></td>
                    <td> {{=form.custom.widget.description}} </td>
                </tr>
                <tr>
                    <td><label id="version__label" for="version">{{=form.custom.label['version']}}</label></td>
                    <td> {{=form.custom.widget.version}} </td>
                </tr>
                <tr>
                    <td><label id="license__label" for="license">{{=form.custom.label['license']}}</label></td>
                    <td> {{=form.custom.widget.license}} </td>
                </tr>
                <tr>
                    <td><label id="manifest__label" for="manifest">{{=form.custom.label['manifest']}}</label></td>
                    <td> {{=form.custom.widget.manifest}} </td>
                </tr>
                <tr>
                    <td><label id="owner__label" for="owner">{{=form.custom.label['owner']}}</label></td>
                    <td> {{=form.custom.widget.owner}} </td>
                </tr>
                <tr>
                    <td><label id="organization__label" for="organization">{{=form.custom.label['organization']}}</label></td>
                    <td> {{=form.custom.widget.organization}} </td>
                </tr>
                <tr>
                    <td><label id="url__label" for="url">{{=form.custom.label['url']}}</label></td>
                    <td> {{=form.custom.widget.url}} </td>
                </tr>
                <tr>
                    <td><label id="email__label" for="email">{{=form.custom.label['email']}}</label></td>
                    <td> {{=form.custom.widget.email}} </td>
                </tr>
                <tr>
                    <td><label id="releasenotes__label" for="releasenotes">{{=form.custom.label['releasenotes']}}</label></td>
                    <td> {{=form.custom.widget.releasenotes}} </td>
                </tr>

                <tr>
                    <td><label id="createdon__label" for="createdon">{{=form.custom.label['createdon']}}</label></td>
                    <td> {{=form.custom.widget.createdon}} </td>
                </tr>
                <tr>
                    <td><label id="createdbyuserid__label" for="createdbyuserid">{{=form.custom.label['createdbyuserid']}}</label></td>
                    <td> {{=form.custom.widget.createdbyuserid}} </td>
                </tr>
                <tr>
                    <td><label id="clientes_modificado__label" for="lastmodifiedondate">{{=form.custom.label['lastmodifiedondate']}}</label></td>
                    <td> {{=form.custom.widget.lastmodifiedondate}} </td>
                </tr>
                <tr>
                    <td><label id="lastmodifiedbyuserid__label" for="lastmodifiedbyuserid">{{=form.custom.label['lastmodifiedbyuserid']}}</label></td>
                    <td> {{=form.custom.widget.lastmodifiedbyuserid}} </td>
                </tr>

                <tr>
                    <td><label id="delete" for="delete">{{=T('Check to delete')}}</label></td>
                    <td> {{=form.custom.delete if form.custom.deletable else SPAN(T("This package is in use and can't be deleted"),_class="text-warning",)}} </td>
                </tr>               
            </tbody>
        </table>
        {{=form.custom.submit}}&nbsp;

    </div>

    <div class="tab-pane" id="layouts">         
        {{=tablelayouts}}              
    </div>

</div>
{{=form.custom.end}}

